MONGODB_URI = mongodb+srv://atul10singh112002:%4012papaMaa@cluster0.jkixui3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT = 3000

ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_EXPIRY = 10d 
REFRESH_TOKEN_SECRET = aglghdlajlejoejgldljldfnbsdfnvdnlegjloerihewrhgewurht3uhoeiqoqhgoqho5EWOITOEWUI48348HREWHERUHTOGWEOUTREOIEOWHGWERIOTOIWWEIOHPERWELGJLJGIEJRGJsjhzxnmcmzsdjkfhsdfheuihuiehgjneuiher438486344354298hdjhgwrgiwerhighnvjdfbfjbkjdnvjerhrughriuhuirdjnnvdznajxnjdaslfjslajfieowjnvasjdjfeoiindasofewovndodhgieruheurguieiuefuierjgiuerANAJLNCNVNVDVAHHFUEQOTHRETYQHFUIEHEIUJNJdsvnjdnvjgowrjrowigegbjre455447896
ACCESS_TOKEN_SECRET = toiyjrotijngroiwjrotihnoijeoigjriogjdnfdjhgnbsnfej243332j5eorghegjeroghnvjerghuyjeroiijendjjoianznhddj12234gljgiorewjgojwojrjgr65551rg1r58wererljgeiofjewjfwerlg5wrt74ehfmkethjrtifnknzbzvdbuwuweuterukjbsdkjljqehrue12323lfjejfjelkjdlsavnfdsljgri112289er7238905jhguhhdjaljasdjgdjkahnvnajkdajsadhfdshajkeiutyiueqabAGJHAGJHABCSDJHBHEFYUEFEWHIEUORYIUQYQOUIFIQYETQOO12357y3fhjkjkfhqujhdsahgiueiueqyobval

CLOUDINARY_CLOUD_NAME=dbfwrunmv
CLOUDINARY_API_KEY=392676588311384
CLOUDINARY_API_SECRET=55C6isqxyiWDI92USjgCoAyFzeA